@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,400;0,500;0,600;0,700;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.hamburguer{
    
    width: 3rem;
    height: 3rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 1s;
    }

.hamburguer p{
    font-size: 1.3rem;
    color: white;
    text-shadow: .1rem .1rem 0px black;
}

.show-menu .hamburguer{
    right: 15rem;
    transition: 1s;
}

.line{
    width: 100%;
    background: white;
    height: .1rem;
    margin-top: .2rem;
    box-shadow: 0.1rem .1rem 1px;
    transition: 1s;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.05rem, .45rem);
    
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.05rem, -.45rem);
    
}

.menuu{
    transition: 0.7s;
}

.show-menu .menuu{
    opacity: 0;
    visibility: 0;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
    animation: zoom 35s ;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
    0%{
        transform: scale(1.3);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: "Baloo da 2", serif;
    font-weight: 300;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.514);
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: moveBanner 1s 0.6s forwards;

}

.banner p{
    font-family: "Josefin Slab", serif;
    color: white;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, 0.514);
    margin-bottom: 1.5rem;
    
}

.banner button{
    font-family: "Mulish", serif;
    color: rgb(214, 214, 214);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: rgb(107, 107, 107);
    background: #141E30; 
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  
    background: linear-gradient(to top, #243B55, #141E30); 
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    animation: moveBanner 1s 0.7s forwards;

}

button a{
    font-family: "Mulish", serif;
    color: rgb(214, 214, 214);
}

.banner button:hover{
    background: linear-gradient(to top, #325781, #21355a);
    transition: 2s;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: 1s;
}

.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
}

.menu-link{
    font-family: "Josefin Slab", serif;
    font-size: 2em ;
    color: rgb(90, 90, 90);
    line-height: 1.5;
}

.menu-link:hover{
    color: #284d92;
    text-shadow: 1px 1px 2px #2b4575;
    transition: 1.5s;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    color: rgb(85, 85, 85);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22rem;
}

.social-media i:hover{
    color: #284d92;
    text-shadow: 1px 1px 2px #2b4575;
    transition: 1s;
}

.sobre{
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    overflow-y: scroll;
    
}

.line-perfil{
    position: relative;
    background: #26406e;
    height: .3rem;
    width: 15rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 0rem;
    border-radius: 5px; 
}
.sobre h2{
    padding-top: .5rem;
    padding-bottom: 0rem;
    font-size: 5rem;
    color: rgb(34, 34, 34);
}

.sobre img{
    width: 15rem;
    border-radius: 50%;
    margin-top: 1rem;
    
}
.texto-sobre{
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 3vh;
    margin-right: 3vh;
    text-align: center;   

}
.upper{
    text-transform: uppercase;
    font-weight: 600;
}

.line-down{
    position: relative;
    background: #26406e;
    height: .3rem;
    width: 15rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 5em;
    border-radius: 5px; 
}


.academico{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.academico i{
    display: flex;
    justify-content: center;
    font-size: 8rem;
}

.section-header{
    padding-top: .5rem;
    padding-bottom: 0rem;
    font-size: 3rem;
    color: rgb(34, 34, 34);
    text-align: center;
}

.trybe{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.text-academico{
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.negrito{
    font-weight: 600;
}

#line-acad{
    
    margin-bottom: 1rem;
}

.conhecimentos {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 0.5rem;
    overflow-y: scroll;
  }
  
  .conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
  }
  
  .conhecimento:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
  }
  
  .conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / -1;
  }
  
  .conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
  }
  
  .conhecimento:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3 / 5;
  }
  
  .conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / -1;
  }
  
  .sessao-conhecimentos {
    background-color: #f5f5f5;
    height: 100%;
  }
  
  .sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
  }
  
  .conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
  }
  
  .conhecimento-header i {
    font-size: 2.5rem;
  }
  
  .conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
  }
  
  .conhecimento-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
  }
  
  .conhecimentos-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 80%;
    height: 80%;
  }
  
  .conhecimentos-img-wrapper img {
    object-fit: cover;
    height: 100%;
  }

  footer{
      background: #141E30;
      width: 100%;
      height: 15rem;
      text-align: center;
      line-height: 15rem;
      color: aliceblue;
      font-size: 1.5rem;
  }

  footer a{
      color: aliceblue;
      border-bottom: solid 1px aliceblue;
  }